.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*table, th, td {
  border: 1px solid black;
}*/

th, td {
  padding: 15px;
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}
.floatLeft {
  float: left;
}

.rowStyling {
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  background-color: #bfc4cc;
}


thead {
  background-color: #bfc4cc;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}